doctype html
html
  head
    title= SlackMood
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://rendro.github.io/easy-pie-chart/stylesheets/jquery.easy-pie-chart.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    block content
  